@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #009dff, #59bfff);
    height: 100vh;
    overflow: hidden;
}

.center{
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center h1{
    text-align: center;
    padding: 0 0 12px 0;
    border-bottom: 1px solid #009dff;
    font-weight: 500;
}

.center form{
    padding: 0 30px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 10px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 2px;
    height: 35px;
    font-size: 13px;
    border: none;
    background: none;
    outline: none;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #009dff;
    border-radius: 28px;
    font-size: 22px;
    color: #ffff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 10px 0;
}

input[type="submit"]:hover{
    border-color: #009dff;
    transition: .4s;
}

.lsu_link{
    margin: 30px 0;
    text-align: center;
    font-size: 13px;
    color: #666666;
}

.lsu_link a{
    color: #009dff;
    text-decoration: none;
}

.lsu_link a:hover{
    text-decoration: underline;
}

.terms{
    font-size: 12px;
    color: #666666;
    text-align: left;
}

.terms a{
    text-decoration: none;
    color: #009dff;
}

.terms a:hover{
    text-decoration: underline;
}

.wrong{
    color: red;
    text-align: center;
    font-size: 16px;
}

.right{
    color: green;
    text-align: center;
    font-size: 16px;
}

.pass{
    font-size: 13px;
    text-align: right;
}

.pass a{
    text-decoration: none;
    color: #009dff;
}

.pass a:hover{
    text-decoration: underline;
}

.reqpass{
    font-size: 11px;
    color: #666666;
    text-align: left;
}

.para{
    font-size: 12px;
    text-align: center;
}